.order-main {
	background: #f1f1f1;
	.order-img-content {
		float: left;
		width: 1.3rem;
		height: 1.3rem;
		background: #eee;
		.order-img {
			display: block;
			width: 1.22rem;
			height: .94rem;
			margin: .035rem 0 0 0;
		}
	}
}