h2 {
  text-align: center;
  padding: 80px 0;
}

.seperate-line {
  text-align: center;
  font-size: 18px;
  border-bottom: 1px solid #b5b5b5;
  margin-bottom: 60px;
}

.txt {
  width: 300px;
  padding: 0 30px;
  margin: 0 auto -38px;
  background-color: #f9f9f9;
  position: relative;
  top: -12px;
}

.block {
  overflow: hidden;
  margin-bottom: 30px;
}

.left {
  width: 300px;
  float: left;
  margin-right: 63px;
  height: 40px;
  line-height: 40px;
  text-align: right;
}

.right {
  // width: 540px;
  float: left;
  position: relative;
}

.normal {
  width: 540px;
  height: 40px;
  border: 1px solid #b5b5b5;
  border-radius: 5px;
}

.w-212 {
  width: 290px;
}

.w-525 {
  width: 525px;
}

.tel {
  display: inline-block;
  width: 150px;
  line-height: 40px;
  padding-left: 30px;
  text-align: right;
}

.w-540-h-60 {
  width: 540px;
  height: 60px;
}

.textarea {
  width: 1200px;
  height: 438px;
  resize: none;
  border: 1px solid #b5b5b5;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  overflow: auto;
  font-size: 14px;
  padding: 14px;
  line-height: 24px;
}

.h-60 {
  height: 60px;
  line-height: 30px;
}

.line {
  border-radius: 0;
  width: 36px;
  border: none;
  border-bottom: 1px solid #333;
  position: relative;
  top: -4px;
  padding-bottom: 0;
}

.w-60 {
  width: 60px;
  // height: 40px;
}

.mt-100 { margin-top: 100px; }


.big-textarea {
  width: 713px;
  height: 170px;
  border: 1px solid #b5b5b5;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  resize: none;
  overflow: auto;
}

.count {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.h-170 {
  height: 170px;
  line-height: 170px;
}

.lh-20 {
  line-height: 20px;
  padding-top: 60px;
}

.w-290 { width: 290px;}

.box {
  width: 948px;
  height: 170px;
  margin: 0 auto;
  position: relative;
}

.box .big-textarea {
  width: 948px;
  height: 170px;
}

.w-320 {
  width: 320px;
}

.upload {
  width: 400px;
  height: 80px;
  display: block;
  margin: 50px auto 80px;
  line-height: 80px;
  text-align: center;
  color: white;
  background-color: #0068b7;
  border-radius: 5px;
}

.btn {
  display: block;
  width: 400px;
  height: 80px;
  border: 1px solid #0068b7;
  line-height: 80px;
  text-align: center;
  border-radius: 5px;
  color: #0068b7;
  margin-bottom: 50px;
}

.btn:hover {
  color: white;
  background-color: #0068b7;
}

.sure {
  float: left;
}

.save {
  float: right;
}

label, label input { cursor: pointer; }

label input {
  -webkit-appearance: radio;
}

.pt-10 { padding-top: 10px; }
.pl-120 { padding-left: 120px; }

.text {
  // height: 230px;
  line-height: 46px;
  margin-bottom: 34px;
}

.pl-10 {
  padding-left: 10px;
  text-align: left;
}

