.main {
  width: 1200px;
  margin: 0 auto;
  background-color: pink;
}

.main .title {
  font-size: 24px;
  text-align: center;
  padding: 12px;
}

.table {
  width: 1200px;
  border: 1px solid #d5d5d5;
  border-collapse: collapse;
  text-align: center;
}

input[type="radio"] {
  -webkit-appearance: radio;
}