.jxj {
    width: 100%
}

.f_cb:after {
    clear: both;
    content: ".";
    display: block;
    width: 0;
    height: 0;
    visibility: hidden
}

body {
    background: #fffbee
}

.renwu {
    height: 2rem
}

.renwu .imgs {
    float: left;
    width: 2rem;
    height: 100%;
    overflow: hidden
}

.renwu .imgs img {
    width: 1rem;
    height: 1rem;
    margin-top: .37rem;
    margin-left: .9rem
}

.renwu .xinxi {
    float: left;
    position: relative;
    width: 5rem;
    height: 100%;
    padding: .3rem
}

.renwu .xinxi h5 {
    color: #545455;
    font-size: .24rem;
    line-height: .38rem;
    font-weight: 400
}

.renwu .xinxi p {
    margin-top: .1rem
}

.renwu .xinxi a {
    color: #367ff9;
    font-size: .24rem;
    display: block;
    width: 1.6rem
}

.renwu .xinxi button {
    background: #ff675a;
    font-size: .3rem;
    color: #fff;
    width: 1.9rem;
    height: .58rem;
    position: absolute;
    border-radius: .5rem;
    right: .38rem;
    top: .6rem
}

.renwu .xinxi .jieban {
    background: none;
    font-size: .24rem;
    color: gray;
    border-radius: 0;
    border-bottom: 1px solid gray;
    width: 60px;
    height: .3rem;
    position: absolute;
    right: 1.38rem;
    top: .7rem
}

.qihuan {
    height: .74rem;
    line-height: .74rem;
    background: #fcefc4;
    overflow: hidden
}

.qihuan ul {
    margin-top: -.3rem
}

.qihuan ul li {
    display: inline-block;
    width: 47%;
    text-align: center
}

.qihuan ul li a {
    display: block;
    font-size: .3rem;
    color: #917743;
    height: .4rem;
    line-height: .4rem
}

.qihuan ul .active a {
    color: #ff675a
}

.qihuan ul .line1 {
    border-right: .01rem solid #917743
}

.lipin {
    margin-bottom: 2rem
}

.lipin .jingao {
    margin: .3rem auto 0;
    width: 6.9rem;
    height: 1.9rem;
    background: #ffeae0 url(../img/mg_03.png) no-repeat .6rem .35rem;
    background-size: 1.25rem;
    overflow: hidden;
    line-height: .5rem
}

.lipin .jingao p {
    color: #fd7a89;
    font-size: .3rem;
    margin-top: .2rem;
    padding-left: 2.4rem
}

.lipin .xianqin {
    background: url(../img/mg1_10.png) repeat-x;
    background-size: contain;
    width: 6.9rem;
    height: 1.9rem;
    margin: .3rem auto 0
}

.xianqin>div {
    float: left
}

.xinxi {
    line-height: .52rem;
    width: 3.6rem;
    padding-top: .5rem;
}

.lipin .xianqin .imgl {
    width: 1.85rem;
    text-align: right;
    height: 100%;
    vertical-align: middle;
    padding-right: .2rem
}

.lipin .xianqin .imgl img {
    min-height: 66%;
    min-width: 66%;
    max-height: 77%;
    max-width: 88%;
    display: block;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.lipin .xianqin .xinxi h5 {
    font-size: .4rem;
    font-weight: 400;
    color: #f7dd95
}

.lipin .xianqin .xinxi p {
    font-size: .24rem;
    color: #ffdf5c
}

.lipin .xianqin .qinkuan {
    float: right;
    width: 1.38rem;
    height: 1.9rem;
    text-align: center;
    line-height: 1.38rem
}

.lipin .xianqin .qinkuan a {
    font-size: .4rem;
    width: 100%;
    display: inline-block;
    color: #ffdf5c;
    border-left: .01rem solid #f7dd95
}

.mg_body {
    padding-bottom: 1rem
}

.empty-content {
    margin: 1rem auto;
    width: 2.14rem;
    height: 2.39rem;
}

.empty {
    display: block;
    width: 100%;
    height: 100%;
}

.pop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .7);
    overflow: hidden;
    overflow-y: auto;
    z-index: 1000;
    .box {
        text-align: center;
        width: 90%;
        background: #fff;
        border-radius: 5px;
        padding: 30px;
        padding-top: 60px;
        margin: 300px auto 0;
        position: relative;
        .close {
            position: absolute;
            top: 30px;
            right: 30px;
            width: 30px;
            height: 30px;
            background: url(../img/hb_pop_close.png) no-repeat center;
            background-size: contain;
        }
        .bindnum {
            h3 {
                font-size: 30px;
                color: #fe4537;
                line-height: 38px;
            }
            .cinput {
                input {
                    margin-top: 30px;
                    border: 1px solid #fe4537;
                    line-height: 80px;
                    display: block;
                    width: 100%;
                    padding: 0 25px;
                    font-size: 30px;
                }
                p {
                    line-height: 60px;
                    color: #999999;
                    font-size: 24px;
                    text-align: left;
                    margin-top: 0px;
                }
            }
            .cnum {
                input {
                    border: 1px solid #fe4537;
                    line-height: 80px;
                    display: block;
                    width: 66%;
                    padding: 0 25px;
                    font-size: 30px;
                    float: left;
                }
                button {
                    height: 80px;
                    background: #cccccc;
                    width: 30%;
                    display: block;
                    border-radius: 0;
                    float: right;
                    font-size: 28px;
                }
                p {
                    margin-top: 0;
                    clear: both;
                    font-size: 24px;
                    color: #ff675a;
                    line-height: 60px;
                    text-align: left;
                }
            }
            button {}
            p {
                margin-top: 20px;
                font-size: 24px;
                color: #999999;
                line-height: 39px;
            }
        }
        .success {
            height: 225px;
            line-height: 225px;
            background: url(../img/phy6.png) no-repeat center;
            background-size: cover;
            h3 {
                font-size: 50px;
                color: #fe4537;
            }
        }
        button {
            display: block;
            font-weight: normal;
            width: 100%;
            font-size: 36px;
            font-weight: bold;
            color: #fff;
            height: 80px;
            background: #ff675a;
            border-radius: 50px;
        }
    }
}
.h20{
    height: 20px;
}
.h40{
    height: 40px;
}