body {
    background: #f2f2f2;
}


/*index*/

.g_head {}

.g_head.g_pol_head h2 {
    width: 333px;
    float: left;
    font-weight: 100;
}

.g_body {
    min-height: 500px;
    width: 1300px;
    margin: 0 auto;
}

.g_body.g_platform_body {
    width: 1200px;
}

.g_foot {
    height: 160px;
    color: #fff;
    background: #2c2c2c;
    padding-top: 40px;
}

.g_foot.g_pol_foot a {
    color: #fff;
}

.g_foot h5 {
    font-size: 18px;
    text-align: center;
    line-height: 44px;
    font-weight: 100;
}

.m_nav {
    height: 177px;
    width: 1200px;
    margin: 0 auto;
}

.navmain {
    height: 105px;
    line-height: 105px;
    /* overflow: hidden; */
}

.navmain h2 {
    display: inline-block;
    font-size: 48px;
    color: #4797ec;
    width: 793px;
}

.navsearch {
    display: inline-block;
    width: 400px;
    position: relative;
    line-height: 105px;
    vertical-align: top;
}

.navsearch button {
    width: 75px;
    height: 32px;
    position: absolute;
    border-radius: 3px;
    right: 0;
    top: 36px;
    border: 0;
    background: #4797ec url(../img/newTech_03.png) no-repeat center;
}

.navsearch input {
    width: 388px;
    padding: 0 5px;
    height: 32px;
    border: 1px solid #4797ec;
    border-radius: 3px;
    background: #F2F2F2;
}

.navchange {
    text-align: right;
}

.navchange a {
    font-size: 20px;
    display: inline-block;
}

.navchange ul {}

.navchange li {
    display: inline-block;
    width: 170px;
    line-height: 38px;
}

.active a {
    border-bottom: 2px solid #4797ec;
    color: #4797ec!important;
}

.m_newview {
    width: 590px;
    min-height: 100px;
}

.goodnews .viewtext {
    padding-bottom: 20px;
}

.viewhead {
    height: 54px;
    line-height: 54px;
    background: #4797ec;
    color: #FFF;
    font-size: 18px;
    text-indent: 20px;
    border-radius: 5px 5px 0 0;
}

.viewhead a {
    float: right;
    margin-right: 30px;
    color: #fff;
}

.viewtext {
    min-height: 300px;
    background: #fff;
    margin-bottom: 30px;
    overflow: hidden;
}

.inn_box .viewtext {
    min-height: 300px;
    background: #F2F2F2;
    margin-bottom: 30px;
    overflow: hidden;
}

.viewtext.hotnews {
    padding: 0 20px 20px 20px;
}

.viewtype1 {
    width: 263px;
    height: 156px;
    display: inline-block;
    margin-top: 20px;
    margin-left: 20px;
    position: relative;
}

.viewtype1 img {
    width: 100%;
    height: 100%;
}

.imgtext a {
    font-size: 14px;
    height: 40px;
    white-space: nowrap;
    color: #fff;
    display: inline-block;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.imgtext {
    line-height: 40px;
    height: 40px;
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.viewtype2 {
    border-top: 1px solid #dcdbdb;
    width: 550px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: -1px!important;
}

.inn_box .viewtype2 {
    border-top: 1px solid #dcdbdb;
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #F2F2F2;
}

.viewtype2 h3 {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 6px;
}

.inn_box .viewtype2 h3 {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 14px;
}

.viewtype2 p {
    font-size: 14px;
    line-height: 30px;
    height: 60px;
    overflow: hidden;
    font-weight: bold;
}

.inn_box .viewtype2 p {
    font-size: 16px;
    line-height: 38px;
    height: 76px;
    overflow: hidden;
    font-weight: bold;
    margin-bottom: 10px;
}

.viewtype21 img {
    float: left;
    margin-right: 20px;
    width: 166px;
    height: 122px;
}

.inn_box .viewtype21 img {
    float: left;
    margin-right: 38px;
    width: 222px;
    height: 150px;
}

.textsource {
    height: 26px;
    line-height: 26px;
    overflow: auto;
    color: #929292;
    font-size: 12px;
}

.textsource span {
    float: right;
}

.maintext h3 {
    color: #4797ec
}

.viewtype22 {}

.imgs {
    width: 101%;
    margin-bottom: 5px;
}

.inn_box .imgs {
    width: 110%;
    margin-bottom: 5px;
}

.imgs img {
    width: 132px;
    height: 97px;
    margin-right: 4px;
}

.inn_box .imgs img {
    width: 170px;
    height: 123px;
    margin-right: 8px;
}

.bigimg {
    width: 100%;
    margin-bottom: 5px;
}

.bigimg img {
    width: 100%;
}

.inn_box .loadtext {
    display: block;
    width: 456px;
    height: 60px;
    font-size: 20px;
    color: #fff;
    border: 1px solid #4797ec;
    border-radius: 5px;
    background: #4797ec;
    margin: 20px auto;
}

.loadtext {
    display: block;
    width: 270px;
    height: 40px;
    color: #4797ec;
    border: 1px solid #4797ec;
    border-radius: 5px;
    background: #fff;
    margin: 20px auto;
}

.hotnews li a {
    font-size: 16px;
    line-height: 60px;
}

.bighotimg a {
    font-size: 16px;
    height: 40px;
    width: 80%;
    display: block;
    line-height: 40px;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}

.viewtext.hotnews li {
    width: 110px;
    display: inline-block;
}

.viewtext.hotnews ul {
    height: 60px;
    line-height: 60px;
    border-bottom: 2px solid #DCDBDB;
}

.bighotimg {
    margin-top: 20px;
    position: relative;
    font-size: 16px;
    height: 229px;
    margin-bottom: 20px;
}

.bighotimg>a {
    height: 100%;
    width: 100%;
}

.bighottext {
    width: 100%;
    height: 40px;
    line-height: 40px;
    position: absolute;
    bottom: 0px;
    color: #fff;
    background: rgba(128, 128, 128, 0.7);
}

.bighottext a {
    color: #fff;
}

.bighotimg img {
    width: 100%;
    height: 229px;
}

.hotimgs {
    width: 110%;
}

.hotimgs div>a {
    height: 133px;
    width: 100%;
}

.hotimgs img {
    width: 100%;
    height: 133px;
}

.hotimgs a {
    display: inline-block;
    line-height: 24px;
    font-size: 14px;
    height: 48px;
    overflow: hidden;
    font-weight: bold;
}

.hotimgs div {
    width: 171px;
    display: inline-block;
    margin-right: 15px;
    height: 192px;
    overflow: hidden;
}

.hottext {
    margin-top: 20px;
}

.hottext h3 {
    line-height: 48px;
    font-size: 16px;
    height: 48px;
    overflow: hidden;
}

.hottext p {
    height: 52px;
    line-height: 26px;
    font-size: 14px;
    overflow: hidden;
    color: #929292;
}

.more {
    text-align: right;
    padding-right: 10px;
    color: #4797ec;
}

.more a {
    color: #4797EC;
}

.hotnews .active a {
    color: #4797EC;
    display: inline-block;
}


/*innovate>inn*/

.g_inn_head {
    min-height: 111px;
    padding-top: 10px;
}

.g_inn_body {
    min-height: 111px;
    width: 1200px;
    margin: 0 auto;
}

.g_inn_foot {
    min-height: 111px;
}

.g_inn_left {
    width: 712px;
    float: left;
    padding: 36px 0;
}

.g_inn_right {
    width: 400px;
    float: right;
}

.g_inn_right>div {
    border-bottom: 1px solid #dcdbdb;
}

.nav_top {
    width: 1200px;
    height: 110px;
    margin: 0 auto;
    line-height: 110px;
}

.nav_title {
    float: left;
    text-align: center;
    height: 110px;
    line-height: 110px;
    vertical-align: middle;
}

.nav_title h2 {
    width: 266px;
    font-size: 48px;
    color: #4797ec;
    line-height: 110px;
}

.nav_weather {
    float: left;
    height: 110px;
    overflow: hidden;
    line-height: 128px;
}

.nav_weather img {
    /* width: 40px; */
    height: 40px;
    vertical-align: middle;
    margin-bottom: 10px;
}

.nav_weather span {
    font-size: 24px;
    color: #4797ec;
    display: inline-block;
    min-width: 79px;
    text-align: center;
}

.nav_search {
    float: right;
    width: 555px;
    height: 105px;
    line-height: 110px;
    text-align: right;
}

.m_nav_change {
    height: 80px;
    line-height: 80px;
    background: #4797EC;
}

.m_nav_change a {
    font-size: 16px;
    color: #FFF;
}

.m_nav_change li {
    width: 85px;
    display: inline;
    border-right: 1px solid #fff;
    padding: 0 20px;
}

.m_nav_change ul {
    margin: 0 auto;
    text-align: center;
}

.m_nav_change .f_noli {
    border: 0px;
    border-right: 0px;
}

#u_place {
    line-height: 110px;
    height: 110px;
    vertical-align: middle;
}

span#u_place button {
    background: #4797EC;
    margin-top: 37px;
    height: 34px;
    width: 80px;
    line-height: 34px;
    font-size: 16px;
    box-shadow: none;
    border: 0;
}

.u_search {
    width: 400px;
    display: inline-block;
    position: relative;
    margin-left: 10px;
}

.u_search button {
    position: absolute;
    width: 75px;
    height: 35px;
    border: 0;
    border-radius: 5px;
    top: 38px;
    right: 0;
    background: #4797EC url(../img/newTech_03.png) no-repeat center;
}

.u_search input {
    width: 100%;
    height: 35px;
    border: 1px solid #4797EC;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 0 5px;
}

.news_main {
    overflow-x: hidden;
}

.news_main .c_news {
    width: 310px;
    display: inline-block;
    margin-right: 90px;
    margin-bottom: 5px;
}

.news_main .c_news h1 {
    font-size: 16px;
    line-height: 36px;
    height: 36px;
    overflow: hidden;
}

.news_main .c_news p {
    font-size: 14px;
    line-height: 24px;
    height: 48px;
    overflow: hidden;
}

.news_main .c_body {
    width: 120%;
    margin: 36px 0;
}

.news_main .c_main {
    height: 378px;
}

.news_main .c_main p {
    height: 38px;
    line-height: 38px;
    text-align: center;
}

.news_all {}

.tech_recommend {}

.tech_img {}

.tech_hot {}

.tech_subject {}

.m_imgtext {
    width: 100%;
    height: 100%;
    position: relative;
}

.m_imgtext>p a {
    color: #fff;
    font-size: 18px;
    display: inline-block;
    width: 80%;
    height: 100%;
    overflow: hidden;
}

.c_imgs .m_imgtext>p a {
    color: #fff;
    font-size: 12px;
    display: inline-block;
    width: 80%;
    height: 100%;
    overflow: hidden;
}

.c_bigimg .m_imgtext>p a {
    color: #fff;
    font-size: 14px;
    display: inline-block;
    width: 80%;
    height: 100%;
    overflow: hidden;
}

.m_imgtext img {
    width: 100%;
    height: 100%;
}

.m_imgtext p {
    width: 100%;
    height: 10%;
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
}

.c_imgs .m_imgtext p {
    width: 100%;
    height: 32px;
    line-height: 32px;
    text-align: center;
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
}

.c_bigimg .m_imgtext p {
    width: 100%;
    height: 32px;
    line-height: 32px;
    text-align: center;
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
}

.news_all {}

.news_switch {}

.news_switch ul {
    height: 46px;
    background: #98c2ef;
    line-height: 46px;
    border-radius: 5px;
}

.news_switch li {
    width: 115px;
    height: 100%;
    display: inline-block;
    text-align: center;
    position: relative;
    vertical-align: middle;
}

.news_switch a {
    font-size: 16px;
    color: #fff;
}

.inn_box {}

.switch_active {}

li.switch_active a {
    background: url(../img/switch.png) no-repeat center;
    height: 54px;
    width: 80px;
    text-align: center;
    display: inline-block;
    position: absolute;
    bottom: 1px;
    overflow: hidden;
    left: 26px;
    line-height: 64px;
    text-indent: 6px;
}

.photo {
    padding-bottom: 20px;
}

.photo h5 {
    line-height: 20px;
    font-size: 20px;
    color: #333333;
    text-indent: 10px;
    border-left: 4px solid #4797EC;
    margin: 30px 0 30px;
}

.photo_child {
    width: 190px;
    float: left;
    height: 188px;
    overflow: hidden;
}

.photo_child.mar20 {
    margin-right: 20px;
}

.photo_child p {
    color: #333333;
    font-size: 14px;
    line-height: 28px;
    height: 56px;
    overflow: hidden;
    margin: 4px 0;
}

.photo_child img {
    height: 126px;
    width: 100%;
}

.hot {
    padding-bottom: 20px;
}

.hot li {
    line-height: 55px;
    font-size: 14px;
    color: #333333;
    height: 55px;
    overflow: hidden;
    text-indent: 15px;
    background: url(../img/contain_30.png) no-repeat 0 center;
}

.rectext li {
    line-height: 55px;
    font-size: 14px;
    color: #333333;
    height: 55px;
    overflow: hidden;
    text-indent: 15px;
    background: url(../img/contain_30.png) no-repeat 0 center;
}

.hot h5 {
    line-height: 20px;
    font-size: 20px;
    color: #333333;
    text-indent: 10px;
    border-left: 4px solid #4797ec;
    margin: 30px 0 15px;
}

.clear {
    clear: both;
}

.g_inn_right .tech_subject {
    border-bottom: 0px;
}

.tech_subject h5 {
    line-height: 20px;
    font-size: 20px;
    color: #333333;
    text-indent: 10px;
    border-left: 4px solid #4797ec;
    margin: 30px 0 15px;
}

.c_subject img {
    width: 100%;
    height: 100%;
}

.c_subject>a {
    display: inline-block;
    width: 166px;
    height: 132px;
    float: left;
}

.c_subject p {
    display: inline-block;
    width: 212px;
    vertical-align: top;
    font-size: 14px;
    line-height: 24px;
    height: 96px;
    color: #929292;
    margin-left: 18px;
    padding-top: 6px;
    float: right;
}

.c_subject h6 {
    line-height: 50px;
    font-size: 14px;
}

.c_subject>span {
    display: inline-block;
    width: 212px;
    float: right;
    text-align: right;
    height: 32px;
    line-height: 32px;
}

.c_subject>span a {
    color: #4797ec;
    font-size: 14px;
}

.tech_recommend {
    padding-bottom: 10px;
}

.tech_recommend h5 {
    line-height: 20px;
    font-size: 20px;
    color: #333333;
    text-indent: 10px;
    border-left: 4px solid #4797ec;
    margin: 36px 0 15px;
}

.imgwall {}

.tech_recommend .c_bigimg {
    height: 144px;
    margin-bottom: 24px;
}

.tech_recommend .c_imgs {}

.tech_recommend .c_imgs>div {
    width: 182px;
    height: 144px;
    display: inline-block;
    margin: 0 8px;
}

.rectext {}


/*policy>pol*/

.g_pol_body {}

.g_pol_body>div {
    /* min-height: 11px; */
    width: 1160px;
    margin: 0 auto;
}

.g_pol_body>div {
    min-height: 111px;
    margin-bottom: 40px;
}

.u_win {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px #d0d0d0;
}

.u_win>div {
    min-height: 111px;
    background: #FFF;
    padding: 40px;
}

.u_win h1>a {
    font-size: 14px;
    color: #fff;
    float: right;
}

.u_win h1 {
    height: 50px;
    line-height: 50px;
    padding: 0 40px;
    color: #fff;
    background: #4797EC;
    font-size: 16px;
}

.pol_main {}

.pol_main .c_text {
    width: 450px;
    float: right;
}

.pol_main .c_text ul {}

.pol_main .c_text li {
    padding-left: 20px;
    line-height: 26px;
    font-size: 16px;
    height: 52px;
    overflow: hidden;
    padding-bottom: 10px;
    background: url(../img/point_03.png) no-repeat 0 10px;
}

.pol_main .c_text a {}

.pol_main .c_img {
    width: 595px;
    height: 363px;
    float: left;
    background: #4797EC;
}

.pol_china {}

.pol_china .c_text {
    overflow: hidden;
}

.pol_china .c_text ul {
    width: 120%;
}

.pol_china .c_text li {
    width: 411px;
    overflow: hidden;
    display: inline-block;
    margin-right: 90px;
    margin-top: 12px;
    font-size: 14px;
    padding: 0 60px 0 20px;
    position: relative;
    line-height: 26px;
    height: 52px;
    background: url(../img/point_03.png) no-repeat 0 12px;
}

.pol_china .c_text span {
    position: absolute;
    right: 0;
    top: 14px;
    color: #929292;
}

.m_change {}

.m_change a {
    display: inline-block;
    font-size: 16px;
    color: #4d4c4c;
}

.m_change li {
    width: 86px;
    display: inline-block;
    height: 66px;
    line-height: 66px;
}

li.china_change6 {
    text-align: center;
}

li.china_change6.active {
    text-align: center;
}

li.china_change12 {
    text-align: right;
}

li.china_change12 a {
    color: #4797EC;
    font-size: 14px;
}

.m_change ul {
    border-bottom: 2px solid #dcdcdc;
    margin-top: -40px;
}

.china_text {
    display: none;
}

.pol_know {}

.pol_know .c_textl {
    width: 495px;
    display: inline-block;
    margin-right: 90px;
    margin-top: -40px;
}

.pol_know .c_textl h3 {
    height: 70px;
    line-height: 70px;
    font-size: 16px;
    color: #4797EC;
    border-bottom: 1px solid gainsboro;
}

.pol_know .c_type1 {
    border-bottom: 1px solid #e5e5e5;
    padding: 18px 0;
}

.pol_know .c_type1 h5 {
    font-size: 16px;
    line-height: 26px;
    height: 52px;
    overflow: hidden;
    color: #4797ec;
}

.pol_know .c_type1 p {
    font-size: 14px;
    line-height: 24px;
    height: 48px;
    color: #929292;
    overflow: hidden;
}

.pol_know .c_type2 {
    margin-top: 30px;
    padding-left: 108px;
    font-size: 16px;
    line-height: 26px;
    height: 52px;
    overflow: hidden;
    position: relative;
}

.pol_know .c_type2 a {}

.pol_know .c_type2 h6 {
    font-size: 14px;
    position: absolute;
    left: 0;
    color: #4797ec;
}

.pol_know .c_textr {
    width: 495px;
    float: right;
}

.pol_know .m_change li {
    width: 106px;
    display: inline-block;
    height: 66px;
    line-height: 66px;
}

li.know_change4 {
    text-align: center;
}

li.know_change3 {
    text-align: center;
}

li.know_change5 {
    width: 51px!important;
    font-size: 14px;
    color: #4797EC;
}

li.know_change5 a {
    color: #4797EC!important;
    font-size: 14px!important;
}

.pol_know .m_change a {
    display: inline-block;
    font-size: 16px;
    color: #4d4c4c;
}

.know_text {
    display: none
}

.line1 {
    background: #929292;
}

.pol_phone {}

.pol_phone .c_phonel {
    width: 465px;
    float: left;
    padding: 0 15px;
}

.pol_phone .c_phonel a {}

.pol_phone .c_phonel img {
    display: block;
    width: 90%;
    margin: 0 auto;
}

.pol_phone .que {
    padding: 20px 0;
}

.pol_phone .que h6 {
    font-size: 14px;
    line-height: 24px;
}

.pol_phone .quekey {}

.pol_phone .quekey a {
    display: inline-block;
    height: 32px;
    line-height: 32px;
    color: #4797EC;
    width: 155px;
}

.pol_phone .phonetype1 {
    margin-top: 20px;
}

.pol_phone .c_phoner {
    width: 465px;
    float: right;
    padding: 0 15px;
}

.pol_phone .phonetype1 h5 {
    font-size: 16px;
    line-height: 26px;
    height: 78px;
    overflow: hidden;
}

.pol_phone .phonetype1 span {
    color: #4797EC;
    margin-right: 5px;
}

.pol_phone .phonetype1 p {
    margin-top: 30px;
    font-size: 14px;
    line-height: 24px;
    color: #929292;
    height: 72px;
    overflow: hidden;
}

.pol_phone .phonetype1 div {
    color: #4797EC;
    text-align: right;
    margin-bottom: 20px;
}

.pol_phone .phonetype1 a {
    color: #4797EC;
    font-size: 16px;
}

.pol_obj {
    width: 1200px!important;
    margin: 0 auto;
    background: #fff;
    padding: 40px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 0 10px #d0d0d0;
}

.pol_obj .c_cards {
    width: 110%;
}

.pol_obj .c_card {
    width: 350px;
    height: 182px;
    overflow: hidden;
    display: inline-block;
    border-radius: 5px;
    margin-right: 35px;
    margin-bottom: 20px;
    background: #eeeeee;
}

.pol_obj .c_left {
    width: 247px;
    float: left;
}

.pol_obj .c_left img {}

.pol_obj .c_right h5 {
    color: #4797ec;
    font-size: 18px;
    text-align: center;
    line-height: 28px;
}

.pol_obj .c_right h6 {
    color: #4797ec;
    font-size: 14px;
    text-align: center;
    line-height: 18px;
}

.pol_obj .c_right div {
    position: absolute;
    background: url(../img/point_07.png) no-repeat center;
    bottom: 8px;
    width: 22px;
    height: 22px;
    right: 8px;
}

.pol_obj .c_right {
    float: left;
    width: 103px;
    background: #eeeeee;
    height: 100%;
    position: relative;
    padding-top: 58px;
    box-sizing: border-box;
}


/*shihui*/

.program-declare {
    width: 1238px;
    height: 485px;
    margin: 0 auto;
    background-image: url(../img/cardBg1.png);
    padding: 55px 40px;
    overflow: hidden;
}

.part .title {
    font-size: 48px;
    color: #4797ec;
}

.part .link {
    width: 728px;
    height: 124px;
    margin-top: 100px;
}

.left {
    width: 730px;
    float: left;
}

.right {
    width: 364px;
    height: 364px;
    background-image: url(../img/declareBg.png);
    float: right;
    color: white;
    font-size: 18px;
    padding: 0 25px;
}

.right .block {
    margin-bottom: 20px;
}

.right .title {
    font-size: 24px;
    text-align: center;
    line-height: 64px;
}

.right .txt {
    width: 72px;
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    margin-right: 10px;
}

.right select {
    font-size: 16px;
    padding: 5px;
    width: 210px;
}

.right input {
    border-radius: 5px;
    border: 0;
    padding: 5px;
    font-size: 16px;
}

.right .mobile {
    width: 210px;
}

.right .verify-code {
    width: 104px;
}

.get-code {
    font-size: 14px;
    background-color: #4797ec;
    padding: 6px 16px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #4797ec;
}

.submit {
    width: 310px;
    height: 40px;
    display: block;
    background-color: #4797ec;
    color: white;
    text-align: center;
    line-height: 40px;
    margin: 30px auto;
    border-radius: 5px;
}

.submit:hover {
    color: white;
}

.tip {
    font-size: 14px;
    text-align: center;
}

.disable {
    color: #aaa;
    border-color: #aaa;
    background-color: transparent;
}

.declare-area {
    width: 1260px;
    margin: 0 auto;
    overflow: hidden;
}

.declare-list-area {
    width: 944px;
    height: 646px;
    background-image: url(../img/declareBg2.png);
    padding: 36px 50px 36px 40px;
    float: left;
    margin-left: -10px;
}

.declare-list-area .title {
    font-size: 18px;
    color: white;
    position: relative;
    margin-bottom: 30px;
}

.declare-list-area .more {
    position: absolute;
    right: 12px;
    color: white;
}

.pro-item {
    /* height: 125px; */
    border-bottom: 1px solid #f2f2f2;
    padding: 28px 0;
    margin: 0 20px;
}

.pro-item .context {
    font-size: 16px;
    display: inline-block;
    width: 600px;
    margin-left: 20px;
    margin-right: 22px;
    vertical-align: middle;
}

.pro-item .main-txt {
    width: 100%;
    height: 52px;
    overflow: hidden;
    line-height: 26px;
}

.pro-item .other-txt {
    color: #929292;
    font-size: 14px;
}

.other-txt span {
    display: inline-block;
    width: 186px;
    line-height: 22px;
}

.pro-type {
    display: inline-block;
    width: 74px;
    height: 74px;
    border-radius: 5px;
    font-size: 18px;
    padding: 16px;
    vertical-align: middle;
    text-align: center;
}

.pro-item .time {
    width: 90px;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    color: #929292;
    text-align: center;
}

.time .check-detail {
    display: block;
    width: 88px;
    height: 30px;
    color: white;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    background-color: #4797ec;
    margin: 0 auto;
}

.time .time-str {
    padding-bottom: 14px;
}

.pink {
    border: 1px solid #efa1c9;
    color: #efa1c9;
}

.green {
    border: 1px solid #4fd0dc;
    color: #4fd0dc;
}

.yellow {
    border: 1px solid #eecd8d;
    color: #eecd8d;
}

.purple {
    border: 1px solid #d8b4e0;
    color: #d8b4e0;
}

.operate-list {
    float: left;
    margin-left: -14px;
    padding-top: 12px;
}

.operate-item {
    width: 302px;
    height: 74px;
    background-image: url(../img/liBg.png);
    margin-bottom: 34px;
}

.operate-item a {
    display: block;
    height: 100%;
    color: #4797ec;
    text-align: center;
    font-size: 24px;
    line-height: 74px;
}

.operate-item:last-child {
    margin-bottom: 0;
}

.shihui {
    box-sizing: border-box;
    width: 1238px!important;
}

.shihui div,
.shihui span {
    box-sizing: border-box;
}


/*lbt*/

#content {
    padding: 10px 0;
    background: #fff;
}

.path {
    padding: 0 0 5px 5px;
}

.effectNav {
    margin-top: 10px;
    border-top: 1px solid #666;
    background: #999;
    padding-bottom: 10px;
}

.effectNav h3 {
    padding: 0 10px;
    background: #ddd;
    background: #333;
    color: #fff;
}

.effectNav ul {
    font-size: 0;
}

.effectNav li {
    display: inline-block;
    font-size: 12px;
    padding: 0 10px;
    margin: 10px 0 0 10px;
    background: #cdcdcd;
}

.effectNav li.new {
    background: #fce8cd;
}

.slideBox {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* margin:10px auto; */
}

.slideBox .hd {
    position: absolute;
    height: 28px;
    line-height: 28px;
    bottom: 39px;
    right: 46%;
    z-index: 1;
}

.slideBox .hd li {
    display: inline-block;
    width: 5px;
    height: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #FFF;
    text-indent: -9999px;
    overflow: hidden;
    margin: 0 6px;
}

.slideBox .hd li.on {
    background: #4797EC;
}

.slideBox .bd {
    position: relative;
    z-index: 0;
}

.slideBox .bd li {
    position: relative;
    width: 595px!important;
    height: 363px;
}

.slideBox .bd li img {
    width: 595px;
    5: 152pxdisplay: blockheight: 1
}

.slideBox .bd li a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.slideBox .bd li .tit {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    text-indent: 10px;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #FFF;
    background: rgba(0, 0, 0, 0.5);
    margin-bottom: 2px;
}

.inn_box{
    display: none;
}
/*innovate2>inn2*/

.inn2_search {
    position: relative;
    margin-bottom: 20px;
}

.inn2_search input {
    width: 100%;
    height: 78px;
    background: #F2F2F2;
    border: 1px solid #4797ec;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 0 156px 0 20px;
    height: 78px;
    font-size: 30px;
    line-height: 78px;
}

.inn2_search button {
    position: absolute;
    right: 0;
    /* padding: 0 100px 0 20px; */
    top: 0;
    width: 132px;
    height: 78px;
    font-size: 30px;
    line-height: 78px;
    border: 0;
    background: #4797ec;
    border-radius: 5px;
    background: #4797ec url(../img/search_03.png) no-repeat center;
}


/*innovate3>inn3*/

.inn3_main {}

.inn3_main img {
    width: 100%;
}
