$tzBlue: #03b0ff;
#content {
  ul {
    padding: 0;
    margin: 0;
    li {
      list-style-type: none;
      float: left;
    }
  }
}

.list {
  li {
    padding: 10px;
    background-color: #eee;
  }
}

.fc .fc-event, .fc-event {
  background: rgba(3, 176, 255, .7);
}

.productData_table-cell {
  display: table-cell;
  vertical-align: middle;
  height: 60px;
  line-height: 30px;
}

.productData_table-cell--head {
  font-weight: bold;
}

.productData_num {
  color: $tzBlue;
}