@import "../common/_mixins";
$cjBlue: #0090ff;
.body {
    background-color: #f1f1f1;
    padding-bottom: 160px;
    font-size: 30px;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.p-30 {
    padding: 30px;
}

.bor-b-1 {
    border-bottom: 1px solid $cjBlue;
    /*no*/
}

.banner {
    width: 100%;
    height: 380px;
    overflow: hidden;
    position: relative;
    .banner-info {
        z-index: 100;
        line-height: 112px;
        font-size: 98px;
        margin-top: 33px;
        position: absolute;
        width: 100%;
        text-align: center;
        color: #FED619;
    }
    .banner-img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
    }
    .banner-time {
        color: #fff887;
        font-size: 24px;
        text-align: center;
        position: absolute;
        top: 263px;
        margin: 0;
        width: 100%;
    }
    .banner-mask {
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        color: #fff;
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 49%, rgba(0, 0, 0, .5) 100%);
        height: 90px;
        padding: 0 30px;
        .spread {
            float: right;
        }
    }
    .banner-mask_item {
        float: left;
        line-height: 90px;
    }
    .banner-mask_hot {
        display: block;
        height: 90px;
    }
}


/*g活动与数据*/

.g_strategy_data {
    .data_title {
        height: 91px;
        line-height: 91px;
        background: #fff;
        h3 {
            padding: 0 30px;
            font-size: 36px;
            color: #444444;
            font-weight: normal;
        }
    }
    .base_data {
        height: 367px;
        h5 {
            margin: 0 30px;
            height: 80px;
            line-height: 80px;
            font-size: 30px;
            color: #0090ff;
            text-indent: 40px;
            font-weight: normal;
            background: url(/custom/img/m/acms/notice_03.png) no-repeat 0 18px;
            background-size: 34px;
        }
        .data_wall {
            padding-left: 30px;
            width: 720px;
            overflow-x: auto;
        }
        .data_boxs {
            height: 246px;
            width: 1130px;
            /*宽度: box 数量*220+30*/
            .data_box {
                box-shadow: 0 0 5px #eee;
                width: 210px;
                height: 100%;
                margin-right: 10px;
                background: #fff;
                text-align: center;
                float: left;
                border-radius: 10px;
                img {
                    width: 85px;
                    height: 85px;
                    margin-top: 25px;
                    margin-bottom: 20px;
                }
                h6 {
                    line-height: 40px;
                    color: #666666;
                    font-size: 28px;
                }
                p {
                    line-height: 40px;
                    color: #0090ff;
                    font-size: 28px;
                }
            }
        }
    }
}


/*g礼品策略*/

.g_strategy_set {
    .set_switch {
        height: 90px;
        line-height: 90px;
        width: 750px;
        overflow-x: auto;
        .switch_n {
            padding: 0 25px;
            height: 100%;
            width: 960px;
            background: #eff7fe;
            /*条目宽度*数量*/
            ul {
                li {
                    text-align: center;
                    float: left;
                    display: block;
                    width: 150px;
                    margin: 0 5px;
                    font-size: 30px;
                    color: #444444;
                }
                .j_active {
                    color: #0da0ff;
                    line-height: 90px;
                    height: 85px;
                    border-bottom: 5px solid #0da0ff;
                }
            }
        }
    }
    .set_boxs {
        /*配置模块*/
        .m_set {
            padding: 1px;
            margin-bottom: 10px;
            background: #fff;
            h3 {
                height: 100px;
                margin-top: 10px;
                line-height: 100px;
                font-size: 30px;
                color: #0090ff;
                padding-left: 72px;
            }
        }
        /*礼品列表*/
        .gift {
            height: 510px;
            h3 {
                background: url(/custom/img/m/acms/celue_03.png) no-repeat 30px 30px;
                background-size: 36px;
            }
            .gifts {
                width: 750px;
                height: 330px;
                overflow-x: auto;
                .gifts_box {
                    width: 1111px;
                    height: 325px;
                    margin: 0 30px;
                    .gift_s {
                        height: 320px;
                        width: 220px;
                        border: 1px solid #dddddd;
                        border-radius: 10px;
                        text-align: center;
                        padding: 0 15px;
                        margin-right: 10px;
                        float: left;
                    }
                    img {
                        height: 97px;
                        margin-top: 18px;
                    }
                    h3 {
                        width: 62px;
                        height: 62px;
                        border: 1px solid #1DA6FC;
                        border-radius: 50%;
                        margin: 130px auto 0;
                        padding: 0;
                        background: url(/custom/img/m/acms/celue_11.jpg) no-repeat center;
                        background-size: 42px;
                    }
                    h5 {
                        margin-top: 20px;
                        text-align: left;
                        line-height: 48px;
                        font-size: 30px;
                        color: #ff4545;
                    }
                    p {
                        text-align: left;
                        line-height: 38px;
                        color: #444444;
                        font-size: 24px;
                        span {
                            color: #0da0ff;
                        }
                    }
                }
            }
        }
        /*策略配置*/
        .strategy {
            height: 610px;
            h3 {
                background: url(/custom/img/m/acms/celue_14.png) no-repeat 30px 30px;
                background-size: 36px;
            }
            .first_set {
                padding: 0 30px;
                line-height: 74px;
                font-size: 30px;
                color: #444444;
                vertical-align: text-bottom;
                select {
                    width: 209px;
                    height: 39px;
                    line-height: 39px;
                    border: 1px solid #b1e8ff;
                    background: #fff;
                    text-indent: 10px;
                }
                select[name='third_bag'] {
                    width: 88px;
                }
                a {
                    font-size: 24px;
                    color: #0da0ff;
                    float: right;
                    text-decoration: underline;
                }
            }
            .people_set {
                margin: 30px 30px 0;
                border-top: 1px solid #f1f1f1;
                .set_a {
                    margin: 0 auto;
                    text-align: center;
                    p {
                        height: 100px;
                        line-height: 100px;
                        font-size: 30px;
                        color: #444444;
                        text-align: left;
                    }
                    p:before {
                        content: '';
                        width: 22px;
                        height: 22px;
                        display: inline-block;
                        background: #000;
                        overflow: hidden;
                        margin: 0 10px;
                        border-radius: 11px;
                    }
                    button {
                        width: 180px;
                        height: 50px;
                        color: #feffff;
                        font-size: 24px;
                        background: #3bcaff;
                        border: 0;
                        border-radius: 10px;
                        margin: 0 22px;
                    }
                    button:nth-child(2) {
                        margin-left: 0;
                    }
                    button:nth-child(4) {
                        margin-right: 0;
                    }
                }
                .set_a:nth-child(1) p:before {
                    background: #dddddd;
                }
                .set_a:nth-child(2) p:before {
                    background: #0da0ff;
                }
            }
        }
        /*预警配置*/
        .waring {
            height: 350px;
            h3 {
                background: url(/custom/img/m/acms/celue_17.png) no-repeat 30px 30px;
                background-size: 36px;
            }
            .set_l {
                height: 70px;
                overflow: hidden;
                position: relative;
                line-height: 70px;
                padding: 0 30px;
                p {
                    color: #444444;
                }
                select {
                    width: 208px;
                    height: 40px;
                    position: absolute;
                    right: 30px;
                    top: 15px;
                    border: 1px solid #b1e8ff;
                    background: #fff;
                    option {}
                }
            }
        }
    }
}


/*g底部按钮*/

.g_strategy_btn {
    position: fixed;
    bottom: 0;
    z-index: 100;
    background: #fff;
    height: 200px;
    border-top: 1px solid #d1d1d1;
    width: 100%;
    text-align: center;
    button {
        width: 330px;
        height: 102px;
        line-height: 102px;
        font-size: 44px;
        margin: 25px 10px;
        border: 0;
        border-radius: 10px;
        box-shadow: 0 0 5px #eee;
    }
    button:nth-child(1) {
        color: #fff;
        background: #10b6ff url(/custom/img/m/acms/lines_03.png) repeat-x center;
        background-size: contain;
    }
    button:nth-child(2) {
        color: #ff4545;
        background: #fcd31a url(/custom/img/m/acms/lines_05.png) repeat-x center;
        background-size: contain;
    }
}


/*补充修正*/

body {
    margin-bottom: 200px;
}


/*g礼品策略弹窗*/

.g_strategy_pop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, .7);
    overflow: auto;
    .pop_box {
        margin: 125px auto;
        width: 690px;
        min-height: 100px;
        background: #fff;
        border-radius: 10px;
        .box_h {
            h2 {
                height: 156px;
                line-height: 156px;
                text-align: center;
                font-size: 36px;
                font-weight: normal;
                color: #444444;
            }
            h3 {
                font-size: 24px;
                height: 24px;
                line-height: 24px;
                margin-top: -50px;
                text-align: center;
                color: #999999;
                span {
                    color: #0da0ff;
                }
            }
        }
        .box_gift_b {
            .gift_s {
                h5 {
                    padding: 0 30px;
                    color: #0da0ff;
                    font-size: 30px;
                    line-height: 80px;
                }
                .gift_boxs {
                    height: 220px;
                    width: 100%;
                    overflow-x: auto;
                    .gift_box {
                        width: 1111px;
                        height: 210px;
                        padding: 0 30px;
                        /*红包盒子*/
                        .m_box {
                            width: 126px;
                            height: 171px;
                            overflow: none;
                            border-radius: 10px;
                            border: 1px solid #e2e2e2;
                            text-align: center;
                            float: left;
                            margin-right: 30px;
                            img {
                                height: 100px;
                                margin-top: 15px;
                            }
                            p {
                                color: #666666;
                                font-size: 24px;
                                line-height: 60px;
                            }
                        }
                        .m_box:last-child {
                            margin-right: 0;
                        }
                        .j_active {
                            background: #dddddd;
                            p {
                                color: #ff4545;
                            }
                        }
                    }
                }
            }
            .gift_c {
                background: #f1f1f1;
                padding: 0 30px;
                .gift_l {
                    padding: 0 10px;
                    h5 {
                        color: #0da0ff;
                        font-size: 30px;
                        line-height: 80px;
                    }
                }
                .total_a {
                    border-bottom: 1px solid #cccccc;
                }
                .mode_a {
                    position: relative;
                    border-bottom: 1px solid #cccccc;
                    h6 {
                        line-height: 72px;
                        margin-bottom: 20px;
                        color: #444444;
                        font-size: 30px;
                    }
                    .menu_c {
                        width: 202px;
                        height: 62px;
                        line-height: 62px;
                        position: absolute;
                        right: 30px;
                        border-radius: 31px;
                        top: 80px;
                        background: #dddddd;
                        div {
                            height: 62px;
                            line-height: 62px;
                            font-size: 36px;
                            color: #aaaaaa;
                            width: 110px;
                            text-align: center;
                            position: absolute;
                            border-radius: 31px;
                        }
                        .yes_c {
                            right: 0;
                        }
                        .no_c {
                            left: 0;
                        }
                        .j_active {
                            background: #00b2ff;
                            color: #fff;
                            box-shadow: 0 0 5px #eee;
                        }
                    }
                }
                .percent_a {
                    h6 {
                        font-size: 24px;
                        line-height: 60px;
                        color: #ff4545;
                        text-align: center;
                    }
                }
                .m_input {
                    height: 90px;
                    line-height: 90px;
                    position: relative;
                    h5 {
                        font-size: 30px;
                        color: #444444;
                    }
                    input {
                        width: 210px;
                        height: 50px;
                        box-sizing: border-box;
                        padding: 0 10px;
                        position: absolute;
                        top: 20px;
                        left: 135px;
                        border: 1px solid #a8def5;
                        background: #eee;
                        border-radius: 10px;
                        font-size: 24px;
                        color: #999999;
                        text-align: center;
                    }
                }
            }
        }
        .box_num_b {
            padding: 0 30px;

            .m_num {
                position: relative;
                height: 70px;
                margin-top: 20px;
                line-height: 70px;
                border-bottom: 1px solid #b2e8ff;
                p {
                    font-size: 30px;
                    color: #444444;
                  
                }
                input {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    height: 50px;
                    line-height: 50px;
                    font-size: 36px;
                    width: 100px;
                    text-align: center;
                    color: #00b2ff;
                    border:0;
                    border-bottom: 1px solid #00b2ff;
                }
            }
        }
        .box_list_b {
            margin-top: 20px;
            .m_people {
                height: 66px;
                overflow: hidden;
                line-height: 66px;
                h5 {
                    font-size: 30px;
                    color: #444444;
                    padding: 0 30px;
                }
                .name {
                    float: left;
                }
                .phone {
                    float: right;
                }
            }
            .m_people:nth-child(2n+1) {
                background: #eff7fe;
            }
        }
        .box_f {
            height: 160px;
            padding: 20px 0 0;
            .menu_h {
                height: 140px;
                line-height: 140px;
                position: relative;
                background: #fff;
                padding: 0 30px;
                p {
                    font-size: 36px;
                    color: #666666;
                }
                .menu_btns {
                    text-align: center;
                    button {
                        width: 290px;
                        height: 105px;
                        line-height: 105px;
                        font-size: 44px;
                        margin: 20px 13px;
                        box-shadow: 0 0 5px #eee;
                        border-radius: 10px;
                        border: 0;
                    }
                    button:nth-child(1) {
                        margin-left: 0;
                        color: #fff;
                        background: #fcd31a url(/custom/img/m/acms/line2_03.png) repeat-x center;
                        background-size: contain;
                    }
                    button:nth-child(2) {
                        margin-right: 0;
                        color: #aaaaaa;
                        background: #fcd31a url(/custom/img/m/acms/line2_05.png) repeat-x center;
                        background-size: contain;
                    }
                }
            }
        }
    }
}
