.head {}

.head h1 {
    width: 1200px;
    margin: 0 auto;
    line-height: 85px;
    font-size: 30px;
    color: #0068b7;
    /* border-bottom: 1px solid #0068b7; */
}

.teamwork {
    border-top: 1px solid #0068b7;
    height: 233px;
    background: #f9f9f9;
    line-height: 233px;
    text-align: center;
}

.teamwork div {
    display: inline-block;
    width: 270px;
    height: 122px;
    margin: 55px 20px 0;
    line-height: 122px;
    font-size: 24px;
    color: #fff;
    text-indent: 65px;
}

.teamwork1 {
    background: url(../img/teamwork_head_03.png) no-repeat center;
}

.teamwork2 {
    background: url(../img/teamwork_head_05.png) no-repeat center;
}

.teamwork3 {
    background: url(../img/teamwork_head_07.png) no-repeat center;
}

.teamwork4 {
    background: url(../img/teamwork_head_09.png) no-repeat center;
}

.expert_text {
    width: 1200px;
    margin: 0 auto;
}

#expert_navigation {
    line-height: 72px;
    color: #0068b7;
    margin-left: 20px;
}

div#expert_navigation i {
    font-size: 16px;
    color: #0068b7;
}

div#expert_navigation a {
    color: #0068b7;
    font-weight: bold;
    font-size: 16px;
}

.name_card {
    width: 782px;
    height: 225px;
    margin: 45px auto 85px;
}

.name_card button {
    width: 111px;
    height: 45px;
    background: #0068b7;
    color: #fff;
    font-size: 18px;
    border: 0px;
    border-radius: 5px;
}

.name_card div {
    display: inline-block;
}

.name_card img {
    width: 202px;
    height: 221px;
}

.expert_name {
    width: 460px;
    overflow: hidden;
}

.expert_name h3 {
    line-height: 70px;
    font-size: 24px;
    color: #0068b7;
    text-indent: 35px;
}

.expert_name h5 {
    margin-bottom: 34px;
    line-height: 45px;
    color: #333333;
    font-size: 20px;
    text-indent: 35px;
}

.text_title {
    border-bottom: 1px solid #bfbfbf;
    position: relative;
    text-align: center;
    height: 25px;
    margin-bottom: 55px;
}

.text_title h2 {
    width: 220px;
    margin: 0 auto;
    font-size: 24px;
    line-height: 24px;
    color: #333333;
    position: relative;
    top: 12px;
    z-index: 10;
    background: #fff;
}

.info_base {
    width: 900px;
    margin: 0 auto 80px;
}

.info_base ul {
    display: inline-block;
    width: 49.5%;
    margin: 0 auto;
    overflow: hidden;
    vertical-align: top;
}

.info_base li {
    /* height: 75px; */
    line-height: 75px;
    font-size: 18px;
    color: #333333;
}

.base_name {
    width: 30%;
    display: inline-block;
    text-align: right;
    vertical-align: top;
}

.base_contain {
    display: inline-block;
    width: 65%;
    padding-left: 20px;
}
.life_text{
    width: 1000px;
    line-height: 40px;
    font-size: 18px;
    color: #333333;
    margin: 35px auto;
}

.life_text li {
    margin-bottom: 15px;
}
.life_name{
    width: 10%;
    display: inline-block;
    vertical-align: top;
    text-align: right;
}
.life_contain{
    width: 88%;
    display: inline-block;
    margin-left: 20px;
}
